.video__iframes{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style-type: none;
  z-index: 2;
}
.video__iframes li:nth-of-type(1) .video__iframe{
  margin-right: 20px;
}

