@import url(/page/content/kaufman/__triangle/kaufman__triangle.css);
@import url(/page/content/table/table.css);
@import url(/page/__section-title/page__section-title.css);
@import url(/page/section-title/_theme/page__section-title_theme_dark.css);
@import url(/page/__section-subtitle/page__section-subtitle.css);
@import url(/page/__section-subtitle/_theme/page__section-subtitle_theme_dark.css);
.kaufman{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1F1F1F;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
}
