@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #F2F2F2;
  justify-content: center;
  overflow: hidden;
}
.logo{
  height: 31px;
  width: 154px;
  z-index: 1;
}
.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}
.header__title{
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 64px;
  width: 730px;
  z-index: 1;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}
.header__subtitle{
  padding: 0;
  z-index: 1;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.header__main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 756px;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2F80ED;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite normal;
}
.header__link{
  padding: 0;
  color: #2F80ED;
  text-decoration: none;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.header__link:hover{
  opacity: 0.5;
}
.content{
  display: flex;
  flex-direction: column;
}
.description{
  background-color: white;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.two-columns{
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 80%;
}
.two-columns__main-text{
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  width: 80%;
  min-width: 784px;
}
.two-columns__brief{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  align-self: flex-start;
  color: #2F80ED;
}
.two-columns__paragraph{
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:nth-of-type(2){
  margin-bottom: 30px;
  margin-top: 30px;
}
.two-columns__span-accent{
  margin: 0 auto;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
.techniques{
  background-color: white;
  padding-top: 100px;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cards{
  width: 920px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.cards__item{
  width: 240px;
  flex-direction: column;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.cards__item:nth-of-type(3n+2){
  margin-right: 100px;
  margin-left: 100px;
}

.cards__image{
  margin-top: 60px;
  width: 160px;
  height: 160px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 50%;
}
.cards__title{
  margin-top: 43px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.cards__description{
  margin-top: 16px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}
.video{
  background-color: white;
  padding-top: 100px;
  display: flex;
  position: relative;
  flex-flow: column;
  overflow: visible;
}
.video__iframes{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  bottom: -50px;
}
.video__iframe{
  margin-right: 20px;
  width: 515px;
  height: 316px;
}
.oakley{
  background-color: #F2F2F2;
  padding-top: 160px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.digits{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
}
.page__section-title{
  padding: 0;
  width: 60%;
  margin-top: 100px;
  margin: 0 auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}
.page__section-subtitle{
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}
.table{
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  align-items: flex-start;
}
.table__cell{
  padding: 0;
  width: 250px;
  z-index: 1;
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.table__heading{
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text{
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.feynman{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
  min-height: 790px;
}
.feynman__title{
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 70px;
  padding: 0;
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
.feynman__subtitle{
  margin: 0 auto;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  text-align: center;
}
.feynman__image{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
}
.feynman__link{
  margin: 0 auto;
  padding: 0;
  position: absolute;
  right: 48px;
  bottom:50%;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.feynman__link:hover{
  opacity: 0.5;
}

.khan{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F2F2F2;
  padding-top: 110px;
}
.khan__container{
  width: 80%;
}
.khan__author{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.khan__title{
  line-height: 1.15;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
}
.khan__quote{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 36px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
}
.khan__quote-author{
  line-height: 1.15;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
}
.khan__quote-author-subline{
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 68px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
}
.khan__book-container{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
}
.khan__book-pic{
  object-fit: cover;
  object-position: top left;
  width: 620px;
  height: 608px;
  margin-right: 48px;
}
.khan__book-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-decoration: none;
  color: #2F80ED;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.khan__book-link:hover{
  opacity: 0.5;
}
.kaufman{
  padding-top: 90px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #1F1F1F;
  overflow: hidden;
  padding-bottom: 90px;
}
.page__section-title_theme_dark{
  padding: 0;
  color: white;
}
.page__section-subtitle_theme_dark{
  margin: 0 auto;
  padding: 0;
  color: white;
  margin-top: 20px;
}
.table_theme_dark{
  margin: 0 auto;
  padding: 0;
  color: white;
  display: flex;
}
.table__cell_theme_dark{
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  color: white;
  width: 200px;
}
.table__heading_theme_dark{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  color: white;
}
.table__text_theme_dark{
  padding: 0;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  color: white;
}
.kaufman__triangle{
  position: absolute;
  right: -124px;
  overflow: hidden;
  width: 660px;
  height: 636px;
  animation: rotation 20s linear infinite normal;
}
.resources{
  background-color: white;
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.resources__logo-zone{
 display: flex;
 position: relative;
 flex-direction: row;
 justify-content: flex-start;
 margin-right: auto;
 margin-left: auto;
 margin-top: 80px;
 width: 1100px;
}
.resources__logo{
  width: 270px;
  height: 38px;
}
.resources__link{
  text-decoration: none;
  padding: 0;
  margin: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.resources__link:hover{
  opacity: 0.5;
}

.footer{
  display: flex;
  position: relative;
  background-color: #1F1F1F;
  min-height: 350px;
}
.footer__columns{
  margin-top: 60px;
  margin-bottom: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  position: relative;
}
.logo_place_footer{
  display: flex;
}
.footer__author{
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin-top: 18px;
  margin-bottom: 18px;
}
.footer__column-heading{
  margin: 0 auto;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.footer__list{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
.footer__social-icons{
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.footer__column{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
}
.footer__column_content_copyright{
  justify-content: space-between;
  flex-basis: 711px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.footer__column_content_about{
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.footer__column_content_social{
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.footer__column-link{
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.footer__column-link:hover{
  opacity: 0.5;
}

